.gradientButton {
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #c7f2fd 0%, #9ae5fc 51%, #69d8f8 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
    cursor: pointer;
}

.gradientButton:hover {
    background-position: right center;
}

.gradientButton:disabled {
    text-decoration: none;
    display: inline-block;
    color: #e5e5e5;
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: gray;
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}